---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About the fantastical Duckalino";

const identity = {
  firstName: "Guimmo Tundunni",
  country: "Other-worldly, oily-lipid dimension",
  occupation: "from the realm of oils and lipids: lovely createtures until their overloard ruins them. dinner of moms",
  hobbies: ["consuming", "lying", "eating eyes"],
};

const skills = ["hiding", "jumping", "watching", "traps", "potion crafting", "taking your mom out to dinner"];

const happy = true;
const finished = false;
const goal = 8;

const skillColor = "red"
const fontWeight = "bolder"
const textCase = "capitalize"
---

<BaseLayout pageTitle={pageTitle}>
    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: rgb(46, 41, 1);
        font-size: 4rem;
        font-family:sans-serif;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
    <h2>... they smell like cabage!</h2>

    <p>They have olive skin and dark hair. Their skin shimmers like ocean waves in the sun. There will be an odor of cabage and earthly soils upon the air.</p>

    <p>This will be a reference on how to overcome and defeat an Duckalino.</p>

    <p>Here are a few facts about the Duckalino:</p>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {goal === 8 ? <p>My goal is to finish in 8 days.</p> : <p>My goal is not 3 days.</p>}

    <ul>
    <li>There name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    }
    </ul>
    <p>My skills are:</p>
    <ul>
    {skills.map((sSkill) => <li class="skill">{sSkill}</li>)}
    </ul>   
</BaseLayout>
 

